#appointmentChooseAppointmentPage{
    padding: 10vh 8vw 5vh;
}

/* SALON CARD */
#appointmentChooseAppointmentPage .row {
    display: flex;
    gap: 1em;
}

#appointmentChooseAppointmentPage .row:first-of-type {
    align-items: center;
    margin-bottom: 1em;
}

#appointmentChooseAppointmentPage .salonProfile .salonImage img {
    border-radius: var(--border-radius);
    height: 5em;
}
/* SALON CARD END */

/* EMPLOYEE START*/
#appointmentChooseAppointmentPage h1{
    margin-top: 1.5em;
}
#appointmentChooseAppointmentPage .employee {
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 2em;
    width: 18em;
}

#appointmentChooseAppointmentPage .employeeImage {
    height: 6em;
}

#appointmentChooseAppointmentPage .employeeName {
    margin: 1em 0;
}

#appointmentChooseAppointmentPage .employeeRating i {
    color: var(--star-color);
}

#appointmentChooseAppointmentPage .employeeImage img {
    border-radius: var(--border-radius);
    width: 100%;
    height: 100%;
}
#appointmentChooseAppointmentPage .employee .primaryButton{
    margin-top: 1.5em;
}
/* EMPLOYEE END*/

/* CHOOSE APPOINTMENT TIME START */
#appointmentChooseAppointmentPage .treatmentChooseTimeForm{
    margin-top: 3em;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 0.5em;
    justify-content: center;
    border: 0.08em solid var(--darker-color);
    padding: 1em 2em;
    border-radius: var(--border-radius);
    grid-column: 1/-1;
}
#appointmentChooseAppointmentPage .treatmentChooseTimeForm h2{
    grid-column: 1/-1;
    margin-bottom: 0.5em;
}


#appointmentChooseAppointmentPage .treatmentChooseTimeForm select {
    box-sizing: border-box;
    padding: 1em;
    background-color: #d9d9d9;
    border-radius: var(--border-radius);
    border: none;
    line-height: 1.5;
}
#appointmentChooseAppointmentPage .treatmentChooseTimeForm select > *{
    padding: 0.2em 1em;
}
#appointmentChooseAppointmentPage .treatmentChooseTimeForm .visible-option{
    display: block;
}
#appointmentChooseAppointmentPage .treatmentChooseTimeForm .invisible-option{
    display: none;
}
@media screen and (min-width: 750px) {
    #appointmentChooseAppointmentPage .treatmentChooseTimeForm {
        max-width: 50vw;
    }

}

@media screen and (max-width: 750px) {
    #appointmentChooseAppointmentPage .treatmentChooseTimeForm {
        width: 100%;
        grid-template-columns: 1fr;
    }
    #appointmentChooseAppointmentPage .treatmentChooseTimeForm p:nth-of-type(2){
        grid-row: 5;
    }
}
/* CHOOSE APPOINTMENT TIME END */